Date filter helpers.md
function addTodo().md
function applyFilter(filterValue).md
function changeListFilter(index, newFilter).md
function clearCompleted().md
function createList(filterValue = 'all').md
function deleteList(index).md
function deleteTodo(id).md
function renderAll().md
function renderList(index).md
function todoHTML(t).md
function toggleTodo(id).md
CSS selectors in order.md
CSS_Color variables for consistency.md
CSS_CSS Reset Simple.md
CSS_Import Fonts.md
HTML Layout.md
JS script analysis.md
HTML Layout.md
Click Outside Overlay Modal.md
Variables.md
